*.swp
*.swo
*.swn
*.o
*.deps/
*.dirstamp

data/chunk/chunk*
docs/*

roguelike
aclocal.m4
autom4te.cache/*
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile.in
Makefile
missing
stamp-h1
makescript.sh
